apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-katas-devops
  namespace: python-katas-devops
spec:
  replicas: 2
  selector:
    matchLabels:
      app: python-katas-devops
  template:
    metadata:
      labels:
        app: python-katas-devops
    spec:
      containers:
        - name: python-katas-devops
          image: 99diego/python-katas-devops:1.0.7
          imagePullPolicy: Always
          ports:
            - containerPort: 8000
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "300m"
              memory: "256Mi"
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 5
